@font-face {
    font-family: "MWF MDL2 Assets";
    src: url("https://db.onlinewebfonts.com/t/ba047a29b78bffd9a985b2e86b289fe8.eot");
    src: url("https://db.onlinewebfonts.com/t/ba047a29b78bffd9a985b2e86b289fe8.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/ba047a29b78bffd9a985b2e86b289fe8.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/ba047a29b78bffd9a985b2e86b289fe8.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/ba047a29b78bffd9a985b2e86b289fe8.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/ba047a29b78bffd9a985b2e86b289fe8.svg#MWF MDL2 Assets") format("svg");
}


.demo-panel-text-icon::before{
    font-family: 'MWF MDL2 Assets';
    content: "";
    font-size: 1em;
    font-size: 16px;
    font-weight: 400;
    /* transition: transform .6s cubic-bezier(.19,1,.22,1); */
    transform: rotate(-180deg);
    line-height: 1.5625rem;
    top: auto;
    color: #0e1726;

    margin-top: auto;
  }
  .play-btn-icon::before{
    content: "";
    font-family: 'MWF MDL2 Assets';
    font-weight: 400;
    line-height: 1;
    color:red;
    font-size: 1rem;

 }